#### hello boys

In [23]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns
import holidays

In [24]:
df=pd.read_csv('./data/dehli_energy.csv')
df.head()

,Unnamed: 0,datetime,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
0,0,2021-01-01 00:30:00,2014.00,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,30,NaN
1,1,2021-01-01 00:35:00,2005.63,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,35,NaN
2,2,2021-01-01 00:40:00,1977.60,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,40,1999.076667
3,3,2021-01-01 00:45:00,1976.44,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,45,1986.556667
4,4,2021-01-01 00:50:00,1954.37,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,50,1969.470000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393440 entries, 0 to 393439
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    393440 non-null  int64
 1   datetime      393440 non-null  object
 2   Power demand  393440 non-null  float64
 3   temp          393440 non-null  float64
 4   dwpt          393440 non-null  float64
 5   rhum          393440 non-null  float64
 6   wdir          392900 non-null  float64
 7   wspd          393440 non-null  float64
 8   pres          393440 non-null  float64
 9   year          393440 non-null  int64
 10  month         393440 non-null  int64
 11  day           393440 non-null  int64
 12  hour          393440 non-null  int64
 13  minute        393440 non-null  int64
 14  moving_avg_3  393438 non-null  float64
dtypes: float64(8), int64(6), object(1)
memory usage: 45.0+ MB

In [26]:
df.describe()

,Unnamed: 0,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
count,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,392900.000000,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,393440.000000,393438.000000
mean,196719.500000,3960.736469,25.527913,16.338046,63.435767,163.777081,7.854550,1008.932695,2022.487129,6.446991,15.745171,11.184371,27.354959,3960.746273
std,113576.489292,1300.473773,7.981563,7.377440,24.850663,116.888397,5.664314,6.902759,1.110587,3.412654,8.783091,6.797501,17.223877,1299.545642
min,0.000000,1302.080000,4.000000,-8.600000,5.000000,0.000000,0.000000,989.600000,2021.000000,1.000000,1.000000,0.000000,0.000000,1307.680000
25%,98359.750000,3074.900000,20.000000,10.400000,44.000000,50.000000,5.400000,1003.000000,2021.000000,3.000000,8.000000,5.000000,10.000000,3075.861667
50%,196719.500000,3832.320000,27.000000,15.400000,67.000000,160.000000,7.600000,1009.000000,2022.000000,6.000000,16.000000,11.000000,25.000000,3831.728333
75%,295079.250000,4870.465000,31.000000,23.900000,84.000000,270.000000,11.200000,1015.000000,2023.000000,9.000000,23.000000,17.000000,40.000000,4869.906667
max,393439.000000,8631.530000,46.400000,30.300000,100.000000,360.000000,63.000000,1027.000000,2024.000000,12.000000,31.000000,23.000000,55.000000,8598.126667

In [27]:
df.isnull().sum()

Unnamed: 0        0
datetime          0
Power demand      0
temp              0
dwpt              0
rhum              0
wdir            540
wspd              0
pres              0
year              0
month             0
day               0
hour              0
minute            0
moving_avg_3      2
dtype: int64

In [28]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [29]:
df.head()

,Unnamed: 0,datetime,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
0,0,2021-01-01 00:30:00,2014.00,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,30,NaN
1,1,2021-01-01 00:35:00,2005.63,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,35,NaN
2,2,2021-01-01 00:40:00,1977.60,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,40,1999.076667
3,3,2021-01-01 00:45:00,1976.44,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,45,1986.556667
4,4,2021-01-01 00:50:00,1954.37,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,50,1969.470000

In [30]:
df = df.groupby(df["datetime"].dt.floor("H")).agg({
    "Power demand": "sum",  
    "temp": "mean"
}).reset_index()

df["datetime"] = df["datetime"].dt.strftime("%Y-%m-%d %H:00")

df["datetime"] = pd.to_datetime(df["datetime"])  # back to datetime for extraction
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["date"] = df["datetime"].dt.day
df["day"] = df["datetime"].dt.dayofweek

/tmp/ipykernel_12711/245227638.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df.groupby(df["datetime"].dt.floor("H")).agg({

In [31]:
df.isnull().sum()

datetime        0
Power demand    0
temp            0
year            0
month           0
date            0
day             0
dtype: int64

In [32]:
df.head()

             datetime  Power demand  temp  year  month  date  day
0 2021-01-01 00:00:00      11853.25   8.0  2021      1     1    4
1 2021-01-01 01:00:00      21667.08   8.0  2021      1     1    4
2 2021-01-01 02:00:00      19990.97   7.5  2021      1     1    4
3 2021-01-01 03:00:00      19287.98   7.0  2021      1     1    4
4 2021-01-01 04:00:00      20118.34   6.5  2021      1     1    4

In [33]:
df["is_weekend"] = df["day"].apply(lambda x: 1 if x in [5, 6] else 0)

In [34]:
df.head()

             datetime  Power demand  temp  year  month  date  day  is_weekend
0 2021-01-01 00:00:00      11853.25   8.0  2021      1     1    4           0
1 2021-01-01 01:00:00      21667.08   8.0  2021      1     1    4           0
2 2021-01-01 02:00:00      19990.97   7.5  2021      1     1    4           0
3 2021-01-01 03:00:00      19287.98   7.0  2021      1     1    4           0
4 2021-01-01 04:00:00      20118.34   6.5  2021      1     1    4           0

In [38]:
indian_holidays = holidays.India(years=range(df["datetime"].dt.year.min(),
                                             df["datetime"].dt.year.max() + 1))

# Create a new column indicating holiday or not
df["is_holiday"] = df["datetime"].dt.date.isin(indian_holidays)
df["is_holiday"] = df["is_holiday"].apply(lambda x: 1 if x else 0)

print(df.head(50))

              datetime  Power demand  temp  year  month  date  day  \
0  2021-01-01 00:00:00      11853.25   8.0  2021      1     1    4
1  2021-01-01 01:00:00      21667.08   8.0  2021      1     1    4
2  2021-01-01 02:00:00      19990.97   7.5  2021      1     1    4
3  2021-01-01 03:00:00      19287.98   7.0  2021      1     1    4
4  2021-01-01 04:00:00      20118.34   6.5  2021      1     1    4
5  2021-01-01 05:00:00      23866.29   5.3  2021      1     1    4
6  2021-01-01 06:00:00      31824.99   4.8  2021      1     1    4
7  2021-01-01 07:00:00      42325.20   5.0  2021      1     1    4
8  2021-01-01 08:00:00      50541.48   5.1  2021      1     1    4
9  2021-01-01 09:00:00      55546.17   6.1  2021      1     1    4
10 2021-01-01 10:00:00      58904.31   9.0  2021      1     1    4
11 2021-01-01 11:00:00      59013.67  12.1  2021      1     1    4
12 2021-01-01 12:00:00      56468.14  14.1  2021      1     1    4
13 2021-01-01 13:00:00      49840.44  16.0  2021      1     1    4
14 2021-01-01 14:00:00      45698.25  17.0  2021      1     1    4
15 2021-01-01 15:00:00      42348.01  17.5  2021      1     1    4
16 2021-01-01 16:00:00      40934.68  17.5  2021      1     1    4
17 2021-01-01 17:00:00      42253.35  15.8  2021      1     1    4
18 2021-01-01 18:00:00      43807.41  13.3  2021      1     1    4
19 2021-01-01 19:00:00      42241.76  11.5  2021      1     1    4
20 2021-01-01 20:00:00      39924.75  11.1  2021      1     1    4
21 2021-01-01 21:00:00      37767.76  11.1  2021      1     1    4
22 2021-01-01 22:00:00      33766.00  11.0  2021      1     1    4
23 2021-01-01 23:00:00      28153.89  10.2  2021      1     1    4
24 2021-01-02 00:00:00      22031.58   9.7  2021      1     2    5
25 2021-01-02 01:00:00      19577.38   9.5  2021      1     2    5
26 2021-01-02 02:00:00      18504.27   9.3  2021      1     2    5
27 2021-01-02 03:00:00      18149.00   9.8  2021      1     2    5
28 2021-01-02 04:00:00      19175.52  10.0  2021      1     2    5
29 2021-01-02 05:00:00      22942.22   9.9  2021      1     2    5
30 2021-01-02 06:00:00      31359.97  10.4  2021      1     2    5
31 2021-01-02 07:00:00      41876.23  11.0  2021      1     2    5
32 2021-01-02 08:00:00      48621.53  11.3  2021      1     2    5
33 2021-01-02 09:00:00      51391.78  11.8  2021      1     2    5
34 2021-01-02 10:00:00      51885.86  13.0  2021      1     2    5
35 2021-01-02 11:00:00      49684.02  13.7  2021      1     2    5
36 2021-01-02 12:00:00      46324.78  14.2  2021      1     2    5
37 2021-01-02 13:00:00      40652.37  16.0  2021      1     2    5
38 2021-01-02 14:00:00      39087.91  17.8  2021      1     2    5
39 2021-01-02 15:00:00      37365.53  18.8  2021      1     2    5
40 2021-01-02 16:00:00      36924.83  18.5  2021      1     2    5
41 2021-01-02 17:00:00      38653.88  17.5  2021      1     2    5
42 2021-01-02 18:00:00      41664.25  17.0  2021      1     2    5
43 2021-01-02 19:00:00      40858.57  16.5  2021      1     2    5
44 2021-01-02 20:00:00      38106.66  15.3  2021      1     2    5
45 2021-01-02 21:00:00      35009.29  14.8  2021      1     2    5
46 2021-01-02 22:00:00      31532.45  14.5  2021      1     2    5
47 2021-01-02 23:00:00      26553.10  13.8  2021      1     2    5
48 2021-01-03 00:00:00      21891.50  13.8  2021      1     3    6
49 2021-01-03 01:00:00      20556.69  14.0  2021      1     3    6

    is_weekend  is_holiday
0            0           0
1            0           0
2            0           0
3            0           0
4            0           0
5            0           0
6            0           0
7            0           0
8            0           0
9            0           0
10           0           0
11           0           0
12           0           0
13           0           0
14           0           0
15           0           0
16           0           0
17           0           0
18           0           0
19           0           0
20           0           0
21           0           0
22           0           0
23           0           0
24           1           0
25           1           0
26           1           0
27           1           0
28           1           0
29           1           0
30           1           0
31           1           0
32           1           0
33           1           0
34           1           0
35           1           0
36           1           0
37           1           0
38           1           0
39           1           0
40           1           0
41           1           0
42           1           0
43           1           0
44           1           0
45           1           0
46           1           0
47           1           0
48           1           0
49           1           0