#### hello boys

In [4]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns

In [5]:
df=pd.read_csv('./data/dehli_energy.csv')
df.head()

,Unnamed: 0,datetime,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
0,0,2021-01-01 00:30:00,2014.00,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,30,NaN
1,1,2021-01-01 00:35:00,2005.63,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,35,NaN
2,2,2021-01-01 00:40:00,1977.60,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,40,1999.076667
3,3,2021-01-01 00:45:00,1976.44,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,45,1986.556667
4,4,2021-01-01 00:50:00,1954.37,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,50,1969.470000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393440 entries, 0 to 393439
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    393440 non-null  int64
 1   datetime      393440 non-null  object
 2   Power demand  393440 non-null  float64
 3   temp          393440 non-null  float64
 4   year          393440 non-null  int64
 5   month         393440 non-null  int64
 6   day           393440 non-null  int64
 7   hour          393440 non-null  int64
 8   minute        393440 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 27.0+ MB

In [7]:
df.describe()

,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand
count,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000
mean,3.000242,11.499945,0.285799,26.300275,0.000342,97.050699,524.701078
std,2.000011,6.922232,0.451795,8.179157,0.018497,99.936662,89.992019
min,0.000000,0.000000,0.000000,-6.476955,0.000000,0.000008,175.407702
25%,1.000000,5.000000,0.000000,21.201832,0.000000,5.469050,460.008784
50%,3.000000,11.000000,0.000000,27.892322,0.000000,69.389236,521.006999
75%,5.000000,17.000000,1.000000,32.191361,0.000000,184.125301,585.735066
max,6.000000,23.000000,1.000000,49.590925,1.000000,299.996731,855.197655

In [8]:
df.isnull().sum()

timestamp             0
day_of_week           0
hour_of_day           0
is_weekend            0
temperature           0
is_holiday            0
solar_generation      0
electricity_demand    0
dtype: int64

In [9]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [10]:
df.head()

,Unnamed: 0,datetime,Power demand,temp,year,month,day,hour,minute
0,0,2021-01-01 00:30:00,2014.00,8.0,2021,1,1,0,30
1,1,2021-01-01 00:35:00,2005.63,8.0,2021,1,1,0,35
2,2,2021-01-01 00:40:00,1977.60,8.0,2021,1,1,0,40
3,3,2021-01-01 00:45:00,1976.44,8.0,2021,1,1,0,45
4,4,2021-01-01 00:50:00,1954.37,8.0,2021,1,1,0,50

In [11]:
df = df.groupby(df["datetime"].dt.floor("H")).agg({
    "Power demand": "sum",  
    "temp": "mean"
}).reset_index()

df["datetime"] = df["datetime"].dt.strftime("%Y-%m-%d %H:01")

df["datetime"] = pd.to_datetime(df["datetime"])  # back to datetime for extraction
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["date"] = df["datetime"].dt.day
df["day"] = df["datetime"].dt.dayofweek

C:\Users\hanam\AppData\Local\Temp\ipykernel_15652\3722603581.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df.groupby(df["datetime"].dt.floor("H")).agg({

In [12]:
df.isnull().sum()

timestamp              0
day_of_week            0
hour_of_day            0
is_weekend             0
temperature            0
is_holiday             0
solar_generation       0
electricity_demand     0
lag_demand_t-1         1
lag_demand_t-24       24
lag_solar_t-1          1
lag_solar_t-24        24
dtype: int64

In [13]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210361 entries, 0 to 210360
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   timestamp           210361 non-null  datetime64[ns]
 1   day_of_week         210361 non-null  int64
 2   hour_of_day         210361 non-null  int64
 3   is_weekend          210361 non-null  int64
 4   temperature         210361 non-null  float64
 5   is_holiday          210361 non-null  int64
 6   solar_generation    210361 non-null  float64
 7   electricity_demand  210361 non-null  float64
 8   lag_demand_t-1      210360 non-null  float64
 9   lag_demand_t-24     210337 non-null  float64
 10  lag_solar_t-1       210360 non-null  float64
 11  lag_solar_t-24      210337 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(4)
memory usage: 19.3 MB

In [15]:
df.head()

             datetime  Power demand  temp  year  month  date  day
0 2021-01-01 00:01:00      11853.25   8.0  2021      1     1    4
1 2021-01-01 01:01:00      21667.08   8.0  2021      1     1    4
2 2021-01-01 02:01:00      19990.97   7.5  2021      1     1    4
3 2021-01-01 03:01:00      19287.98   7.0  2021      1     1    4
4 2021-01-01 04:01:00      20118.34   6.5  2021      1     1    4

In [18]:
df["weekend"] = df["day"].apply(lambda x: 1 if x in [5, 6] else 0)

In [20]:
df.head()

             datetime  Power demand  temp  year  month  date  day  weekend
0 2021-01-01 00:01:00      11853.25   8.0  2021      1     1    4        0
1 2021-01-01 01:01:00      21667.08   8.0  2021      1     1    4        0
2 2021-01-01 02:01:00      19990.97   7.5  2021      1     1    4        0
3 2021-01-01 03:01:00      19287.98   7.0  2021      1     1    4        0
4 2021-01-01 04:01:00      20118.34   6.5  2021      1     1    4        0