#### hello boys

In [23]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns

In [24]:
df=pd.read_csv('./data/dehli_energy.csv')
df.head()

,Unnamed: 0,datetime,Power demand,temp,dwpt,rhum,wdir,wspd,pres,year,month,day,hour,minute,moving_avg_3
0,0,2021-01-01 00:30:00,2014.00,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,30,NaN
1,1,2021-01-01 00:35:00,2005.63,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,35,NaN
2,2,2021-01-01 00:40:00,1977.60,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,40,1999.076667
3,3,2021-01-01 00:45:00,1976.44,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,45,1986.556667
4,4,2021-01-01 00:50:00,1954.37,8.0,6.9,93.0,0.0,0.0,1017.0,2021,1,1,0,50,1969.470000

In [25]:
df=df.drop(columns=['dwpt','rhum','wdir','wspd','pres','moving_avg_3'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393440 entries, 0 to 393439
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    393440 non-null  int64
 1   datetime      393440 non-null  object
 2   Power demand  393440 non-null  float64
 3   temp          393440 non-null  float64
 4   year          393440 non-null  int64
 5   month         393440 non-null  int64
 6   day           393440 non-null  int64
 7   hour          393440 non-null  int64
 8   minute        393440 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 27.0+ MB

In [27]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [28]:
df.head()

,Unnamed: 0,datetime,Power demand,temp,year,month,day,hour,minute
0,0,2021-01-01 00:30:00,2014.00,8.0,2021,1,1,0,30
1,1,2021-01-01 00:35:00,2005.63,8.0,2021,1,1,0,35
2,2,2021-01-01 00:40:00,1977.60,8.0,2021,1,1,0,40
3,3,2021-01-01 00:45:00,1976.44,8.0,2021,1,1,0,45
4,4,2021-01-01 00:50:00,1954.37,8.0,2021,1,1,0,50

In [29]:
df = df.groupby(df["datetime"].dt.floor("H")).agg({
    "Power demand": "sum",  
    "temp": "mean"
}).reset_index()

df["datetime"] = df["datetime"].dt.strftime("%Y-%m-%d %H:01")

df["datetime"] = pd.to_datetime(df["datetime"])  # back to datetime for extraction
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["date"] = df["datetime"].dt.day
df["day"] = df["datetime"].dt.dayofweek

C:\Users\hanam\AppData\Local\Temp\ipykernel_15652\3722603581.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df.groupby(df["datetime"].dt.floor("H")).agg({

In [30]:
df.head()

             datetime  Power demand  temp  year  month  date  day
0 2021-01-01 00:01:00      11853.25   8.0  2021      1     1    4
1 2021-01-01 01:01:00      21667.08   8.0  2021      1     1    4
2 2021-01-01 02:01:00      19990.97   7.5  2021      1     1    4
3 2021-01-01 03:01:00      19287.98   7.0  2021      1     1    4
4 2021-01-01 04:01:00      20118.34   6.5  2021      1     1    4

In [31]:
df["weekend"] = df["day"].apply(lambda x: 1 if x in [5, 6] else 0)

In [35]:
df.head()

             datetime  Power demand  temp  year  month  date  day  weekend
0 2021-01-01 00:01:00      11853.25   8.0  2021      1     1    4        0
1 2021-01-01 01:01:00      21667.08   8.0  2021      1     1    4        0
2 2021-01-01 02:01:00      19990.97   7.5  2021      1     1    4        0
3 2021-01-01 03:01:00      19287.98   7.0  2021      1     1    4        0
4 2021-01-01 04:01:00      20118.34   6.5  2021      1     1    4        0