#### hello boys

In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv('.\data\hourlyData.csv')
df.head()

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210361 entries, 0 to 210360
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   timestamp           210361 non-null  object
 1   day_of_week         210361 non-null  int64
 2   hour_of_day         210361 non-null  int64
 3   is_weekend          210361 non-null  int64
 4   temperature         210361 non-null  float64
 5   is_holiday          210361 non-null  int64
 6   solar_generation    210361 non-null  float64
 7   electricity_demand  210361 non-null  float64
dtypes: float64(3), int64(4), object(1)
memory usage: 12.8+ MB

In [5]:
df.describe()

,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand
count,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000,210361.000000
mean,3.000242,11.499945,0.285799,26.300275,0.000342,97.050699,524.701078
std,2.000011,6.922232,0.451795,8.179157,0.018497,99.936662,89.992019
min,0.000000,0.000000,0.000000,-6.476955,0.000000,0.000008,175.407702
25%,1.000000,5.000000,0.000000,21.201832,0.000000,5.469050,460.008784
50%,3.000000,11.000000,0.000000,27.892322,0.000000,69.389236,521.006999
75%,5.000000,17.000000,1.000000,32.191361,0.000000,184.125301,585.735066
max,6.000000,23.000000,1.000000,49.590925,1.000000,299.996731,855.197655

In [7]:
df.isnull().sum()

timestamp             0
day_of_week           0
hour_of_day           0
is_weekend            0
temperature           0
is_holiday            0
solar_generation      0
electricity_demand    0
dtype: int64